[Desktop Entry]
Name=octave_softGL
Comment=octave_softGL
Exec=/home/jxj/octave_softGL.sh
Icon=/home/jxj/octave-logo.png
Terminal=true
Type=Application

